#
# APP
#
NODE_ENV=development
PORT=3001
HOST=localhost

#
# AUTH
#
JWT_SECRET=[jwt_secret]

#
# DATABASE
#
DB_CONNECTION_STRING=[db_client]://[db_username]:[db_user_password]@localhost:[db_port]/[db_name]
DB_DIALECT=pg
DB_POOL_MIN=2
DB_POOL_MAX=10

#
# MinIO/S3
#
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_BUCKET_PAGES=transcripta-pages
STORAGE_BUCKET_UPLOADS=transcripta-uploads
STORAGE_ACCESS_KEY_ID=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin

#
# BEDROCK
#
AWS_REGION=us-east-1
BEDROCK_MODEL_ID=us.amazon.nova-pro-v1:0

#
# REDIS
#
REDIS_URL=redis://localhost:6379
